/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
#footer {
  background-color: #f2f2f280;
  height: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
  margin-top: 2rem;
  position: fixed;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  height: 280px;
}

.item {
  height: 280px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

.gridUser, .cartContainer, .tableCustomer, .tableProduct, .gridMove {
  width: 900px;
  margin: auto;
  padding: 1.5rem 0;
  justify-content: center;
 }

 h3 {
   font-size: 3rem;
   font-weight: 600;
   text-align: center;
 }

 .gridButton {
   padding-top: 3rem;
 }

 .gridLogin {
  width: 480px;
  margin: 18rem auto;
  padding: 3rem 3rem 3rem;
  box-shadow: 10px 7px 17px -5px rgba(0,0,0,0.73);
  border-radius: 10px;
 }

.avatarFood {
  box-shadow: 10px 7px 17px -5px rgba(0,0,0,0.73);
}

.cardList {
  cursor: pointer;
}
 
.divider {
  padding: 2rem 0;
}

.quantCart {
  display: flex;
  justify-content: space-between;
  width: 6rem;
}

.glyphicon {
  margin-right: .7rem;
}
